<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rlnk</title>
    <script src="../js/vue.js"></script>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <div id="app">
        <h1 align="center"><img src="../../img/rlnk.svg" alt="fancy rlnk icon" height="48" class="rlnk-logo" style="margin-right: .5rem;">rlnk</h1>
        <!-- shortcut type e.g. game / private server -->
        <div class="setting">
            <label for="type">Shortcut type</label>
            <select name="type" id="type" v-model="type">
                <option value="game">Game</option>
                <option value="server">Private server</option>
                <option value="jobid">JobID</option>
                <option value="user">User</option>
                <option value="browser">Browser/App</option>
            </select>
        </div>
        <!-- game / server url -->
        <transition name="fade">
            <div class="setting" v-if="type != 'browser'">
                <label for="link">{{ type != 'jobid' ? type.charAt(0).toUpperCase()+type.substring(1) : 'Game' }} link</label>
                <div>
                    <input type="text" name="link" id="link" :placeholder="type == 'server' ? 'paste server link' : 'paste or...'" v-model="link" :class="{'width-50':(showButtonFor.indexOf(type) > -1),'width-100':(showButtonFor.indexOf(type) == -1)}">
                    <button v-if="showButtonFor.indexOf(type) > -1" id="browseGames" @click="browseGames($event)" style="margin-left: .5rem; width: calc(50% - .5rem);">Browse</button>
                </div>
            </div>
        </transition>
        <!-- jobID -->
        <transition name="fade">
            <div class="setting"  v-if="type=='jobid'">
                <label for="jobid">JobID</label>
                <div>
                    <input type="text" name="jobid" id="jobid" placeholder="job id" v-model="jobid" class="width-100">
                </div>
            </div>
        </transition>
        <!-- launch method: direct or roblox:// protocol -->
        <div class="setting">
            <label for="launch_method">Launch method</label>
            <select name="launch_method" id="launch_method" v-model="launch_method">
                <option value="direct">{{ type == 'browser' ? 'Direct (Browser)' : 'Direct' }}</option>
                <option value="roblox_protocol">{{ type == 'browser' ? 'roblox:// protocol (App)' : 'roblox:// protocol' }}</option>
            </select>
        </div>
        <!-- account settings (direct launching only)-->
        <!-- account selection list -->
        <div class="setting">
            <label for="account">Account</label>
            <select name="account" id="account" v-model="account" :disabled="launch_method=='direct' ? false : true">
                <option value="default">Loading...</option>
                <option value="custom">Add account...</option>
            </select>
        </div>
        <!-- account cookie -->
        <transition name="fade">
            <div class="setting" v-if="account=='custom' && launch_method=='direct'">
                <label for="cookie"><span style="color: red;">.ROBLOSECURITY</span> cookie</label>
                <div>
                    <input type="text" name="cookie" id="cookie" v-model="cookie" placeholder="paste or..." style="width: 50%;">
                    <button id="login" @click="login($event)" style="margin-left: .5rem; width: calc(50% - .5rem);">Log in</button>
                </div>
            </div>
        </transition>
        <button class="center" id="create" @click="save($event)">Create</button>
        <button id="accountsManager" @click="openAccountManager($event)">Account manager</button>
    </div>
    <script src="../js/main.js"></script>
</body>
</html>